# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.exe
*.ilk
bullet3/bin/app_basicexample_vs2010_x64_debug.pdb
*.pdb
bullet3/bin/Bullet3Collision_vs2010_x64_debug.lib
*.lib
*.tlog
bullet3/build3/vs2010/obj/x64/Debug/App_ExampleBrowser/BasicExample.obj
*.obj
*.log
*.sdf
*.opensdf
*.idb
